.custom_event{
  float: left;
  height: 50vh;
  position: relative;
}


.title{
  position: absolute;
  color: black;
  /* width: 80%; */
  text-align: center;
  bottom: 46px;
  width: 80%;
  height: 10vh;
  border-radius: 0 0 10px 10px ;
  padding:10px 10px;
  opacity: .9;
  
  
  
  
 
  
  
  
  
  
}